* {
	padding: 0;
	margin: 0;
	font-family: "Cairo", sans-serif;
	box-sizing: border-box;
}

nav {
	top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background: #aed6f4;
	border-bottom: .2px solid #3333332c;
}

nav h3 {
	color: #035594;
	font-family: "Reem Kufi", sans-serif;
}

nav ul {
	width: 350px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	gap: 8%;
}

nav a {
	text-decoration: none;
	color: #214b8e;
	font-weight: 400;
	font-size: 1em;
}

nav a:hover {
	color: #568db7;
	cursor: pointer;
}

nav button {
	padding: 0 20px;
	border-radius: 5px;
	background-color: #aed6f4;
	border: 1px solid #39a5f8;
}

nav button a {
	color: #106aae;
	font-weight: 400;
}

nav button:hover {
	background-color: #035594;
}

nav button a:hover {
	color: #fff;
}


/***********   Start Hero Design ***********/

.scene {
	position: relative;
	height: 100vh;
	overflow-x: hidden;
	background: linear-gradient(#a6d8ff, #fff, #fff);
}

#sun {
	position: absolute;
	top: 100px;
	left: 35%;
	width: 100px;
	height: 100px;
	background: #fff;
	border-radius: 50%;
	box-shadow: 0 0 50px #fff;
	cursor: pointer;
	transition: 0.5s;
}

.bg {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 83%;
	background-image: url("./img/city.png");
	background-size: 100%;
	background-repeat: repeat-x;
	animation: animateBg 60s linear infinite;
}

@keyframes animateBg {
	0% {
		background-position-x: 0px;
	}

	100% {
		background-position-x: 2002px;
	}
}


/***********   End Hero Design ***********/


/***********   Start Card Design ***********/


/*********** Start Responsive Design ***********/


/* Start Mobile Responsive */

@media only screen and (max-width: 600px) {
	nav ul {
		width: 250px;
		gap: 8%;
	}

	nav a {
		font-weight: 300;
		font-size: 0.5em;
	}

	.scene {
		position: relative;
		height: 29vh;
		overflow-x: hidden;
		background: linear-gradient(#a6d8ff, #fff, #fff);
	}

	#sun {
		position: absolute;
		top: 49px;
		left: 35%;
		width: 79px;
		height: 79px;
		background: #fff;
		border-radius: 50%;
		box-shadow: 0 0 50px #fff;
		cursor: pointer;
		transition: 0.5s;
	}

	.bg {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 58%;
		background-image: url("./city.png");
		background-size: 100%;
		background-repeat: repeat-x;
		animation: animateBg 60s linear infinite;
	}
}


/* End Mobile Responsive */


/* Start Tablet Responsive */

@media only screen and (max-width: 790px) {
	.scene {
		position: relative;
		height: 38vh;
		overflow-x: hidden;
		background: linear-gradient(#a6d8ff, #fff, #fff);
	}

	#sun {
		position: absolute;
		top: 49px;
		left: 35%;
		width: 79px;
		height: 79px;
		background: #fff;
		border-radius: 50%;
		box-shadow: 0 0 50px #fff;
		cursor: pointer;
		transition: 0.5s;
	}

	.bg {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 58%;
		background-image: url("./city.png");
		background-size: 100%;
		background-repeat: repeat-x;
		animation: animateBg 60s linear infinite;
	}
}


/* End Tablet Responsive */


/* Start Labtop Responsive */

@media only screen and (min-width: 800px) {
	.scene {
		position: relative;
		height: 45vh;
		overflow-x: hidden;
		background: linear-gradient(#a6d8ff, #fff, #fff);
	}

	#sun {
		position: absolute;
		top: 49px;
		left: 35%;
		width: 79px;
		height: 79px;
		background: #fff;
		border-radius: 50%;
		box-shadow: 0 0 50px #fff;
		cursor: pointer;
		transition: 0.5s;
	}

	.bg {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 58%;
		background-image: url("./city.png");
		background-size: 100%;
		background-repeat: repeat-x;
		animation: animateBg 60s linear infinite;
	}
}


/* End Labtop Responsive */


/* Start PC Responsive */

@media only screen and (min-width: 890px) {
	.scene {
		position: relative;
		height: 36vh;
		overflow-x: hidden;
		background: linear-gradient(#a6d8ff, #fff, #fff);
	}

	#sun {
		position: absolute;
		top: 49px;
		left: 35%;
		width: 79px;
		height: 79px;
		background: #fff;
		border-radius: 50%;
		box-shadow: 0 0 50px #fff;
		cursor: pointer;
		transition: 0.5s;
	}

	.bg {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 73%;
		background-image: url("./city.png");
		background-size: 100%;
		background-repeat: repeat-x;
		animation: animateBg 60s linear infinite;
	}
}

@media only screen and (min-width: 1200px) {
	.scene {
		position: relative;
		height: 81vh;
		overflow-x: hidden;
		background: linear-gradient(#a6d8ff, #fff, #fff);
	}

	#sun {
		position: absolute;
		top: 49px;
		left: 35%;
		width: 79px;
		height: 79px;
		background: #fff;
		border-radius: 50%;
		box-shadow: 0 0 50px #fff;
		cursor: pointer;
		transition: 0.5s;
	}

	.bg {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 80%;
		background-image: url("./city.png");
		background-size: 100%;
		background-repeat: repeat-x;
		animation: animateBg 60s linear infinite;
	}
}

@media only screen and (min-width: 1900px) {
	.scene {
		position: relative;
		height: 100vh;
		overflow-x: hidden;
		background: linear-gradient(#a6d8ff, #fff, #fff);
	}

	#sun {
		position: absolute;
		top: 49px;
		left: 35%;
		width: 79px;
		height: 79px;
		background: #fff;
		border-radius: 50%;
		box-shadow: 0 0 50px #fff;
		cursor: pointer;
		transition: 0.5s;
	}

	.bg {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 58%;
		background-image: url("./city.png");
		background-size: 100%;
		background-repeat: repeat-x;
		animation: animateBg 60s linear infinite;
	}
}


/* End PC Responsive */


/*********** End Responsive Design ***********/